<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
  <div class="container"><a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" width="118"
        alt="logo" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"> </span></button>
    <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
        <li class="nav-item px-2 fs-4"><a class="nav-link" aria-current="page" href="../home">Inicio</a></li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle fs-4" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Articulos
          </a>
          <div ngbDropdownMenu class="dropdown-menu" id="menuDD" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="../articulo-uno">Salud y bienestar: por que es importante</a>
            <a class="dropdown-item" href="../articulo-dos">Educación para la salud y el bienestar</a>
            <a class="dropdown-item" href="../articulo-tres">El papel de la salud laboral</a>
            <a class="dropdown-item" href="../articulo-cuatro">Salud y Bienestar</a>
            <a class="dropdown-item" href="../articulo-cinco">Cuida tu salud y bienestar</a>
          </div>
        </li>
        <li class="nav-item px-2 fs-4"><a class="nav-link" href="../galeria">Galeria</a></li>
        <li class="nav-item px-2 fs-4"><a class="nav-link" href="../listado">Suscriptores</a></li>
        <li class="nav-item px-2 fs-4"><a class="nav-link" href="../formulario">Contacto</a></li>

       
      </ul>
    </div>
  </div>
</nav>